.Navbar {
  background-color: #3D0303;
}

.tlogo {
  color: white;
  margin: 0;
  font-size: small;
}

.back {
  background-color: #7B0000;
}

.nav-link {
  color: white;
}

.navbar-light .navbar-nav .nav-link {
  color: rgb(255 255 255);
}

.navbar-light .navbar-nav .nav-link:hover {
  color: rgb(255 255 255);
}

.translate-middle-y {
  color: white;
  margin-right: 2%;
}

.Presentation {
  background-color: #3D0303;
  background-image: url(../public/images/fondacceuil.png);
  background-repeat: no-repeat;
  background-position: center;
}

.titre {
  color: white;
  margin-left: 12%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.text {
  color: white;
  margin-left: 12%;
  display: flex;
  text-align: center;
}

.gantacceuil {
  margin-left: 12%;
  width: 25%;
  display: flex;
  text-align: center;
  animation: bounce 2s infinite;
}

.pres {
  width: 30%;
}

@media screen and (max-width: 550px) {

  .gantacceuil {
  
  display: none;
  
  }
  
  }

.fondippo {
  width: 100%;
  background-image: url(../public/images/ippo.png);
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: 20%;
  margin-top: 1%;
}

.Boxer {
  color: #3D0303;
  font-size: 20em;
  display: flex;
  justify-content: center;
  transform: rotate(-16deg);
  font-size:23vw;
  margin-right: 3%;
}

.btnippo {
  background-color: #3D0303;
  color: white;
  width: 20%;
  margin-left: 70%;
  font-size: 1.5em;
  border: none;
  padding: 1%;
  margin-bottom: 2%;
  font-size:2vw;
}

.hr {
  display: flex;
  width: 90%;
  border: 1px solid #3D0303;
  opacity: 1;
  margin-left: 5%;
}

.texteinfo {
  color: black;
  margin-left: 5%;
}

.titreinfo {
  color: black;
  font-size: 2em;
  margin-left: 5%;
}

.textehoraire {
  color: black;
  margin-left: 5%;
}

.info {
  width: 50%;
}

.map {
  width: 50%;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 700px) {

  .Localisation {
    display: flex;
    flex-direction: column;
  
  }

  .info {
    width: 100%;
    text-align: center;
  }

  .map {
    display: flex;
    justify-content: center;
    width: 100%;

  }
  
  }

.Localisation {
  margin-top: 3%;
}

.txtcontact {
  display: flex;
  justify-content: center;
  text-align: center;
  color: black;
  flex-direction: column;
}

.form-control {
  border: solid 2px #3D0303;
}

.formcontact {
  justify-content: center;
  color: black;
  width: 80%;
  margin-left: 10%;
}

.btncontact {
  background-color: #3D0303;
  color: white;
  width: 20%;
  font-size: 1.5em;
  border: none;
  padding: 1%;
  margin-top: 2%;
  font-size:2vw;
  margin-left: 40%;
}

.Footer {
  background-color: #3D0303;
  display: flex;
  justify-content: center;
  color: white;
  align-items: flex-end;
  width:100%;
  margin-top: 4%
}

.txtfooter {
  margin-top: 10%;
  text-align: center;
}

.uk-link, a:hover {
  color: #ffffff;
}

.uk-link, a {
  color: #ffffff;
}

.containerconnexion {
  height: 80vh;
  margin:50px auto;
}
.containerconnexion h1{
  text-align:center;
}

.btnconnexion{
  background-color:#3D0303;
  color:#fff;
  padding:10px;
  border:none;
  border-radius:5px;
  margin-top:10px;
}

h1{
  text-align:center;
}

.divtarif {
  display: flex;
  justify-content: center;
  text-align: center;
  color: black;
  flex-direction: column;
}

.diventrainement {
  display: flex;
  justify-content: center;
  text-align: center;
  color: black;
  flex-direction: column;
}

.divage {
  display: flex;
  justify-content: center;
  text-align: center;
  color: black;
  flex-direction: column;
}


/**/



.product-body{
  padding-top: 5%;
  display: flex;
  width: 80%;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .product-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  }
}

.left-item{
  width: 60%;
  display: block;
}

.right-item{
  width: 40%;
  display: flex;
  flex-direction: column;
}

.product-title{
  display: flex;
}

.h1view{
  color: #343434;
  font-weight: 300;
  margin: 0px 0px;
  font-size: 24px;
  letter-spacing: 1px;
}

p.desc{
  font-family: 'Karla', sans-serif;
  color: #888179;
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 20px;
}

strong{
  color: #3C3B3B;
}


/**/

.titretarifs {
  font-weight: 500;
  display: flex;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}

.prixtarifs {
  font-weight: 800;
  display: inline-block;
  background-color: #fff;
  position: relative;
  margin-left: 5%;
}

.list-prix {
  list-style: none;
  border: 1px solid #444;
  border-radius: 5px;
}

li.des {
  position: relative;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #444;
  font-size: 1.2rem;
  font-weight: 500;
  color: #444;
  margin-right: 2% ;
}

li {
  position: relative;
  display: flex;
  align-items: center;
}

.tarifs {
  display: flex;
  justify-content: center;
  text-align: center;
  color: black;
  flex-direction: column;
  margin-top: 2%;
}


/**/

.page{
  max-width: 78%;
  margin: 0 auto;
}

.page * {
  padding: 0;
  margin: 0;
}

/* Mobile */

#store_cart {
  float: left;
  width: 100%;
}

.cart_item {
  float: left;
  width: 100%;
  display: table;
  background: #fff;
  border: 1px solid #555;
  border-top: none;

}

.cart_item li {
  vertical-align: middle;
  padding: 9px;
  font-size: 0.8em;
  float: left;
}

.cart_item li p {
  font-size: 1.3em;
}

.cart_item li span {
  font-size: 0.9em;
}

.cart_item li h2 {
  font-size: 1.1em;
}

/* cart item cells */

.cart_img_col {
  display: inline-block;
  width: 30%;
  text-align: center;
  background-size: 90%;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100px;
}

.cart_img_col img {
  display: none;
}

.cart_product_col {
  display: inline-block;
  width: 70%;
  padding-bottom: 0 !important;
}

.cart_options_col {
  display: inline-block;
  width: 30%;
}
.cart_options_col input {
  width: 48px;
}
.cart_price_col {
  text-align: center;
  display: inline-block;
  width: 20%;
}
.cart_del_col {
  display: inline-block;
  width: 20%;
  text-align: center;
}
.cart_del_col img {
  max-width: 25px;
  cursor: pointer;
}
.cart_del_col img:hover {
  opacity: 0.8;
}

/* Tablet */
@media only screen and (min-width: 481px) {

/* cart item */

.cart_item {
  height: 100px;
}

.cart_item li {
  float: none;
}

.cart_item li p {
  font-size: 1.2em;
}

.cart_item li span {
  font-size: 1em;
}

.cart_item li h2 {
  font-size: 1em;
}

/* cart item cells */

.cart_img_col {
  width: 15%;
  display: table-cell;
  background-image: none;
}

.cart_img_col img {
  max-width: 60px;
  display: inline-block;
  height: auto;
}

.cart_product_col {
  display: table-cell;
  width: 30%;
  padding-bottom: 12px !important;
}

.cart_options_col {
  display: table-cell;
  width: 18.5%;
}

.cart_price_col {
  display: table-cell;
  width: 11.625%;
}

.cart_del_col {
  display: table-cell;
  width: 9%;
}

.cart_item li:nth-child(even) {
    background: #f5f5f5;

}

}

/* Desktop */

@media only screen and (min-width: 769px) {

/* cart item */

.cart_head li:nth-child(odd) {
  background: none;
}

.cart_item {
  height: 10px;
}

.cart_head li {
  font-size: 1.1em;
}

.cart_item li p {
  font-size: 1.4em;
  font-weight: 700;
}

.cart_item li span {
  font-size: 1em;
}

.cart_item li h2 {
  font-size: 1.4em;
}

/**/

.cart_img_col img {
  max-width: 75px;
}

.cart_product_col {
  width: 45%;
}

.cart_price_col {
  width: 11.625%;
}

.cart_options_col {
  width: 19.5%;
}

.cart_del_col {
  width: 6.875%;
}

}

/**/

table {
  border: 1px solid rgb(255, 255, 255);
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #ffffff;
  border: 1px solid rgb(0, 0, 0);
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid rgb(88, 88, 88);
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid rgb(88, 88, 88);
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}
